@model Worker

<form id="Edit" class="details" method="post" asp-controller="Worker" asp-action="Edit">
    <input name="Id" type="hidden" value="@Model.Id"/>

    <div>
        <label for="FirstName">Имя</label>
        <input name="FirstName" type="text" value="@Model.FirstName" required minlength="2" maxlength="12" />
    </div>

    <div>
        <label for="LastName">Фамилия</label>
        <input name="LastName" type="text" value="@Model.LastName" required minlength="3" maxlength="12" />
    </div>

    <div>
        <label for="Position">Должность</label>
        <input name="Position" type="text" value="@Model.Position" required minlength="3" maxlength="15" />
    </div>
</form>

<br />

<div class="detailButtons">
    <div>
        <input form="Edit" type="submit" value="Изменить" />
    </div>
    <div>
        <button>
            <a class="clear" asp-controller="Worker" asp-action="Index">Вернуться к списку</a>
        </button>
    </div>
</div>